<!DOCTYPE html>
<html>
  <head>
    <title>DC Dashboard</title>
  </head>
  <body>
    <h2>District Commissioner Dashboard</h2>

    <table border="1">
      <tr>
        <th>Stall Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>User</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      {% for app in applications %}
      <tr>
        <td>{{ app.stall_name }}</td>
        <td>{{ app.location }}</td>
        <td>{{ app.description }}</td>
        <td>{{ app.user.email }}</td>
        <td>{{ app.status }}</td>
        <td>
          {% if app.status == 'Pending' %}
          <a href="{% url 'approve_application' app.id %}">Approve</a> |
          <a href="{% url 'reject_application' app.id %}">Reject</a>
          {% else %} {{ app.status }} {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
